<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>		
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul style="display: block;">
				<li tal:repeat="Term1 TermAll" tal:attributes="class php:Term1->getId()==Term->getId()?'active':'disable'">
					<a tal:attributes="href Term1/getURLCollect">
						<i class="glyphicons-edit"/> <span tal:content="Term1/getName" />
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<a href="#DialogIns" data-toggle="modal" class="btn btn-success btn-ins btn-small">
						<i class="glyphicon glyphicon-plus"/> Thêm mới
					</a>
					<div class="widget-box">						
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="50"><i class="glyphicons-drink"/></th>
										<th class="left">NGÀY</th>
										<th width="40"><i class="glyphicons-edit"/></th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Collect CollectAll">
										<td class="center" tal:content="repeat/Collect/number"/>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" data-name="CollectGeneral" tal:attributes="alt Collect/getURLUpdExe; data-id Collect/getId" tal:content="Collect/getDatePrint"/></td>
										<td class="center">
											<a class="update-item" href="#DialogEdit" data-toggle="modal" data-name="CollectGeneral" tal:attributes="alt Collect/getURLUpdExe; data-id Collect/getId">
												<i class="glyphicon glyphicon-pencil"/>
											</a>
										</td>
										<td class="center"><a class="remove-item" href="#myAlert" data-toggle="modal" tal:attributes="alt Collect/getURLDelExe"><i class="glyphicon glyphicon-remove"/></a></td>
									</tr>
								</tbody>
							</table>							
						</div>
					</div>
										
					<!-- INSERT DIALOG  -->
					<div id="DialogIns" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-fast_food modal-icon"/>THÊM KHOẢN THU</h3>
								</div>
								<form tal:attributes="action Term/getURLCollectInsExe" method="post" class="form-horizontal">
									<div class="modal-body">
										<div class="control-group">
											<label class="control-label">Ngày</label>
											<div class="controls">
												<input id="Date1" name="Date1" type="text" data-date-format="yyyy-mm-dd" class="form-control input-sm"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">Giá trị</label>
											<div class="controls">
												<input id="Value1" name="Value1" type="text" class="form-control input-sm" />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">Diễn giải</label>
											<div class="controls">
												<input id="Note1" name="Note1" type="text" class="form-control input-sm"/>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END INSERT DIALOG  -->
					
					<!-- DIALOG EDIT	-->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-fast_food modal-icon"/>CẬP NHẬT KHOẢN THU</h3>
								</div>
								<form action="" method="post" class="form-horizontal" id="update-link">
									<div class="modal-body">
										<div class="control-group">
											<label class="control-label">Ngày</label>
											<div class="controls">
												<input id="Date2" name="Date2" type="text" data-date-format="yyyy-mm-dd" class="form-control input-sm"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">Giá trị</label>
											<div class="controls">
												<input id="Value2" name="Value2" type="text" class="form-control input-sm" />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">Diễn giải</label>
											<div class="controls">
												<input id="Note2" name="Note2" type="text" class="form-control input-sm"/>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END DIALOG EDIT -->
					
					<!-- DIALOG DEL	-->
					<div id="myAlert" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3>XÓA KHOẢN THU</h3>
								</div>
								<div class="modal-body">
									<p>Bạn có chắc muốn xóa mục này ?</p>
								</div>
								<div class="modal-footer">
									<a class="btn btn-primary btn-small" id="remove-link" href="">Xóa</a>
									<a data-dismiss="modal" class="btn btn-default btn-small">Không</a>
								</div>
							</div>
						</div>
					</div>
					<!-- END DIALOG DEL	-->
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">/*<![CDATA[*/
			$('.remove-item').click(function(){
				$('#remove-link').attr('href', $(this).attr('alt'));
			});
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/load/o2j/" + $(this).attr('data-name') + "/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$('#update-link').attr('action', $(this).attr('alt'));
				$.getJSON(url, function(data) {
					$('#Date2').attr('value', data.Date);
					$('#Value2').attr('value', data.Value);										
					$('#Note2').attr('value', data.Note);
				});
			});
		/*]]>*/</script>
		<div metal:use-macro="mAdmin.xhtml/AlertTools"/>
	</body>
</html>