<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="menu">
			<div id="sidebar">
				<ul style="display: block;">
					<li tal:repeat="Category1 CategoryAll" tal:attributes="class php: Category1->getId()==Category->getId() ? 'active':'disable'">
						<a tal:attributes="href php: URLCallLoad . '/' . Category1->getId()"><span tal:content="Category1/getName"/></a>
					</li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">							
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">								
								<table class="Table table table-bordered table-striped table-hover" tal:attributes="alt URLCall">
									<thead>
										<tr>
											<th width="32">STT</th>
											<th><div class="text-left">TÊN</div></th>
											<th width="90"><div class="text-left">ĐƠN VỊ</div></th>
											<th width="90">SỐ LƯỢNG</th>
											<th width="90"><div class="text-right">GIÁ</div></th>																						
										</tr>
									</thead>
									<tbody role="alert" aria-live="polite" aria-relevant="all">
										<tr class="Course gradeA odd" tal:repeat="Course Category/getCourseAll" tal:attributes="alt Course/getId">
											<td width="32"><div class="text-center" tal:content="repeat/Course/number" /></td>
											<td>
												<a class="update-item" href="#DialogEdit" data-toggle="modal" tal:attributes="data-id Course/getId; data-name Course/getName; data-price Course/getPrice1">
													<div tal:content="Course/getName"/>
												</a>	
											</td>											
											<td>
												<div tal:condition="php: mSD->check(array( Session->getId(), Course->getId()))">
													<span tal:content="php: mSD->exist(array( Session->getId(), Course->getId()))->getCount()" />
												</div>
												<div tal:condition="php: not mSD->check(array( Session->getId(), Course->getId()))">
													chưa gọi
												</div>
											</td>
											<td><div tal:content="Course/getUnit"/></td>
											<td><div class="text-right" tal:content="Course/getPrice1Print"/></td>																						
										</tr>									
									</tbody>
								</table>																
							</div>
						</div>
						
						<!-- UPDATE DIALOG  -->						
						<div id="DialogEdit" class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h3><i class="glyphicons-fast_food modal-icon"/>CẬP NHẬT MÓN GỌI</h3>
									</div>
									<div class="form-horizontal">
										<div class="form-group">
											<label class="control-label">Id</label>
											<div class="controls"><input id="IdCourse2" name="IdCourse2" type="text" class="form-control input-small" readonly="true"/></div>
										</div>
										<div class="form-group">
											<label class="control-label">Tên</label>
											<div class="controls"><input id="Name2" name="Name2" type="text" class="form-control input-small" readonly="true"/></div>
										</div>
										<div class="form-group">
											<label class="control-label">Số lượng</label>
											<div class="controls">
												<input id="Count2" name="Count2" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Đơn giá</label>
											<div class="controls">
												<input id="Price2" name="Price2" type="text" class="form-control input-small"/>
											</div>
										</div>										
										<div class="modal-footer">
											<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
											<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
										</div>
									</div>
								</div>
							</div>
						</div>					
						<!-- END UPDATE DIALOG  -->
						<div id="IdSession" tal:attributes="alt Session/getId" />
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>		
		<script type="text/javascript">
			/*<![CDATA[*/
			$('.update-item').click(function(){
				var Name = $(this).attr('data-name');
				var Price = $(this).attr('data-price');
				var IdCourse = $(this).attr('data-id');
				
				$("#IdCourse2").val(IdCourse);
				$("#Name2").val(Name);
				$("#Price2").val(Price);
				$("#Count2").val('1');
			});
			
			$('#URLUpdButton').click(function(){				
			
				var URL 		= $(".Table").attr('alt');				
				var IdCourse 	= $("#IdCourse2").val();
				var Count 		= $("#Count2").val();
				var Price 		= $("#Price2").val();
				
				URL = URL+"/"+IdCourse+"/"+Count+"/"+Price;
				$.ajax({
					type: "POST", 
					async: false,
					url: URL,
					dataType: 'json',
					success: function(data){
						location.reload();
					}
				});										
			});									
			/*]]>*/
		</script>		
	</body>
</html>