<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul>																				
				<li tal:repeat="Domain1 DomainAll" tal:attributes="class php:Domain1->getId()==Domain->getId()?'active':'disable'">
					<a tal:attributes="href Domain1/getURLTable">
						<i class="glyphicons-show_big_thumbnails"/><span tal:content="Domain1/getName"/>							
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="40"><i class="glyphicons-macbook"/></th>
										<th class="left">TÊN BÀN</th>
										<th class="center" width="100">LOẠI</th>
										<th width="40"><i class="glyphicons-edit"/></th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Table TableAll">
										<td class="center" tal:content="repeat/Table/number"/>
										<td><a tal:attributes="href Table/getURLUpdLoad" tal:content="Table/getName"/></td>
										<td class="center" tal:content="Table/getTypePrint"/>
										<td class="center"><a tal:attributes="href Table/getURLUpdLoad"><i class="glyphicon glyphicon-pencil"/></a></td>
										<td class="center"><a class="remove-item" href="#myAlert" data-toggle="modal" tal:attributes="alt Table/getURLDelExe"><i class="glyphicon glyphicon-remove"/></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<a class="btn btn-success btn-ins" tal:attributes="href Domain/getURLTableInsLoad">
						<i class="glyphicon glyphicon-plus"/> Thêm mới
					</a>
					
					<div id="myAlert" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3>Cảnh báo: Việc xóa sẽ làm mất dữ liệu và không thể phục hồi</h3>
								</div>
								<div class="modal-body">
									<p>Bạn có chắc muốn xóa mục này ?</p>
								</div>
								<div class="modal-footer">
									<a class="btn btn-primary btn-small" id="remove-link" href="">Xóa</a>
									<a data-dismiss="modal" class="btn btn-default btn-small">Không</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">/*<![CDATA[*/
			$('.remove-item').click(function(){
				$('#remove-link').attr('href', $(this).attr('alt'));
			});
		/*]]>*/</script>
	</body>
</html>