<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/MenuApp"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">
				<center>
					<h1>Hệ thống quản lý Karaoke Ba Đức</h1>
					<h4>http://k.baduc.vn</h4>
				</center>
				
				<div class="col-xs-12">
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon">
								<i class="icon-bar-chart"></i>
							</span>
							<h5>Line chart</h5>
						</div>
						<div class="widget-content">
							<div class="chart" style="padding: 0px; position: relative;">
								<canvas class="base" width="1084" height="300"></canvas>
								<canvas class="overlay" width="1084" height="300" style="position: absolute; left: 0px; top: 0px;"></canvas>
								<div style="font-size:smaller" class="tickLabels">
									<div style="color:#AAAAAA" class="xAxis x1Axis">
										<div style="position:absolute;text-align:center;left:-11px;top:284px;width:72px" class="tickLabel">0</div>
										<div style="position:absolute;text-align:center;left:67px;top:284px;width:72px" class="tickLabel">1</div>
										<div style="position:absolute;text-align:center;left:145px;top:284px;width:72px" class="tickLabel">2</div>
										<div style="position:absolute;text-align:center;left:223px;top:284px;width:72px" class="tickLabel">3</div>
										<div style="position:absolute;text-align:center;left:302px;top:284px;width:72px" class="tickLabel">4</div>
										<div style="position:absolute;text-align:center;left:380px;top:284px;width:72px" class="tickLabel">5</div>
										<div style="position:absolute;text-align:center;left:458px;top:284px;width:72px" class="tickLabel">6</div>
										<div style="position:absolute;text-align:center;left:536px;top:284px;width:72px" class="tickLabel">7</div>
										<div style="position:absolute;text-align:center;left:614px;top:284px;width:72px" class="tickLabel">8</div>
										<div style="position:absolute;text-align:center;left:692px;top:284px;width:72px" class="tickLabel">9</div>
										<div style="position:absolute;text-align:center;left:770px;top:284px;width:72px" class="tickLabel">10</div>
										<div style="position:absolute;text-align:center;left:849px;top:284px;width:72px" class="tickLabel">11</div>
										<div style="position:absolute;text-align:center;left:927px;top:284px;width:72px" class="tickLabel">12</div>
										<div style="position:absolute;text-align:center;left:1005px;top:284px;width:72px" class="tickLabel">13</div>
									</div>
									<div style="color:#AAAAAA" class="yAxis y1Axis">
										<div style="position:absolute;text-align:right;top:261px;right:1065px;width:19px" class="tickLabel">-1.5</div>
										<div style="position:absolute;text-align:right;top:219px;right:1065px;width:19px" class="tickLabel">-1.0</div>
										<div style="position:absolute;text-align:right;top:176px;right:1065px;width:19px" class="tickLabel">-0.5</div>
										<div style="position:absolute;text-align:right;top:133px;right:1065px;width:19px" class="tickLabel">0.0</div>
										<div style="position:absolute;text-align:right;top:90px;right:1065px;width:19px" class="tickLabel">0.5</div>
										<div style="position:absolute;text-align:right;top:47px;right:1065px;width:19px" class="tickLabel">1.0</div>
										<div style="position:absolute;text-align:right;top:5px;right:1065px;width:19px" class="tickLabel">1.5</div>
									</div>
								</div>
								<div class="legend">
									<div style="position: absolute; width: 50px; height: 35px; top: 9px; right: 9px; background-color: rgb(250, 250, 250); opacity: 0.85;"> </div>
									<table style="position:absolute;top:9px;right:9px;;font-size:smaller;color:#AAAAAA">
										<tbody>
											<tr>
												<td class="legendColorBox">
													<div style="border:1px solid #ccc;padding:1px">
														<div style="width:4px;height:0;border:5px solid #4fabd2;overflow:hidden"></div>
													</div>
												</td>
												<td class="legendLabel">sin(x)</td>
											</tr>
											<tr>
												<td class="legendColorBox">
													<div style="border:1px solid #ccc;padding:1px">
														<div style="width:4px;height:0;border:5px solid #459D1C;overflow:hidden"> </div>
													</div>
												</td>
												<td class="legendLabel">cos(x)</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>