Options +FollowSymlinks
RewriteEngine on

#---------------------------------------------------------------------------------------------------------------------------
# SYSTEM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^signin/load$ 			?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 			?cmd=SigninExe [L]
RewriteRule ^signout/load$ 			?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 			?cmd=SignoutExe [L]
RewriteRule ^change/pass/load$ 		?cmd=ChangePassLoad [L]
RewriteRule ^change/pass/exe$ 		?cmd=ChangePassExe [L]

RewriteRule ^home$ 					?cmd=Home [L]
RewriteRule ^video/([0-9])$ 		?cmd=Video&IdCategoryVideo=$1 [L]
RewriteRule ^contact/ins/exe$ 		?cmd=ContactInsExe [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting$ 										?cmd=Setting [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.CUSTOMER
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/customer$ 								?cmd=SettingCustomer [L]
RewriteRule ^setting/customer/page/([0-9])$ 				?cmd=SettingCustomer&Page=$1 [L]

RewriteRule ^setting/customer/ins/load$ 					?cmd=SettingCustomerInsLoad [L]
RewriteRule ^setting/customer/ins/exe$ 						?cmd=SettingCustomerInsExe [L]
RewriteRule ^setting/customer/([0-9])/upd/load$ 			?cmd=SettingCustomerUpdLoad&IdCustomer=$1 [L]
RewriteRule ^setting/customer/([0-9])/upd/exe$ 				?cmd=SettingCustomerUpdExe&IdCustomer=$1 [L]
RewriteRule ^setting/customer/([0-9])/del/load$ 			?cmd=SettingCustomerDelLoad&IdCustomer=$1 [L]
RewriteRule ^setting/customer/([0-9])/del/exe$ 				?cmd=SettingCustomerDelExe&IdCustomer=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.CATEGORY.NEWS
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/config$ 								?cmd=SettingConfig [L]
RewriteRule ^setting/config/page/([0-9])$ 					?cmd=SettingConfig&Page=$1 [L]

RewriteRule ^setting/config/ins/load$ 						?cmd=SettingConfigInsLoad [L]
RewriteRule ^setting/config/ins/exe$ 						?cmd=SettingConfigInsExe [L]
RewriteRule ^setting/config/([0-9])/upd/load$ 				?cmd=SettingConfigUpdLoad&IdConfig=$1 [L]
RewriteRule ^setting/config/([0-9])/upd/exe$ 				?cmd=SettingConfigUpdExe&IdConfig=$1 [L]
RewriteRule ^setting/config/([0-9])/del/load$ 				?cmd=SettingConfigDelLoad&IdConfig=$1 [L]
RewriteRule ^setting/config/([0-9])/del/exe$ 				?cmd=SettingConfigDelExe&IdConfig=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.CATEGORY.NEWS
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/category/news$ 								?cmd=SettingCategoryNews [L]
RewriteRule ^setting/category/news/page/([0-9])$ 					?cmd=SettingCategoryNews&Page=$1 [L]

RewriteRule ^setting/category/news/ins/load$ 						?cmd=SettingCategoryNewsInsLoad [L]
RewriteRule ^setting/category/news/ins/exe$ 						?cmd=SettingCategoryNewsInsExe [L]
RewriteRule ^setting/category/news/([0-9])/upd/load$ 				?cmd=SettingCategoryNewsUpdLoad&IdCategory=$1 [L]
RewriteRule ^setting/category/news/([0-9])/upd/exe$ 				?cmd=SettingCategoryNewsUpdExe&IdCategory=$1 [L]
RewriteRule ^setting/category/news/([0-9])/del/load$ 				?cmd=SettingCategoryNewsDelLoad&IdCategory=$1 [L]
RewriteRule ^setting/category/news/([0-9])/del/exe$ 				?cmd=SettingCategoryNewsDelExe&IdCategory=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.NEWS
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/category/news/([0-9])$ 						?cmd=SettingNews&IdCategory=$1 [L]
RewriteRule ^setting/category/news/([0-9])page/([0-9])$ 			?cmd=SettingNews&IdCategory=$1&Page=$2 [L]
RewriteRule ^setting/category/news/([0-9])/ins/load$ 				?cmd=SettingNewsInsLoad&IdCategory=$1 [L]
RewriteRule ^setting/category/news/([0-9])/ins/exe$ 				?cmd=SettingNewsInsExe&IdCategory=$1 [L]
RewriteRule ^setting/category/news/([0-9])/([0-9])/upd/load$ 		?cmd=SettingNewsUpdLoad&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^setting/category/news/([0-9])/([0-9])/upd/exe$ 		?cmd=SettingNewsUpdExe&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^setting/category/news/([0-9])/([0-9])/del/load$ 		?cmd=SettingNewsDelLoad&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^setting/category/news/([0-9])/([0-9])/del/exe$ 		?cmd=SettingNewsDelExe&IdCategory=$1&IdNews=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.CATEGORY.ALBUM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/category/album$ 								?cmd=SettingCategoryAlbum [L]
RewriteRule ^setting/category/album/page/([0-9])$ 					?cmd=SettingCategoryAlbum&Page=$1 [L]

RewriteRule ^setting/category/album/ins/load$ 						?cmd=SettingCategoryAlbumInsLoad [L]
RewriteRule ^setting/category/album/ins/exe$ 						?cmd=SettingCategoryAlbumInsExe [L]
RewriteRule ^setting/category/album/([0-9])/upd/load$ 				?cmd=SettingCategoryAlbumUpdLoad&IdCategory=$1 [L]
RewriteRule ^setting/category/album/([0-9])/upd/exe$ 				?cmd=SettingCategoryAlbumUpdExe&IdCategory=$1 [L]
RewriteRule ^setting/category/album/([0-9])/del/load$ 				?cmd=SettingCategoryAlbumDelLoad&IdCategory=$1 [L]
RewriteRule ^setting/category/album/([0-9])/del/exe$ 				?cmd=SettingCategoryAlbumDelExe&IdCategory=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.ALBUM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/category/album/([0-9])$ 						?cmd=SettingAlbum&IdCategory=$1 [L]
RewriteRule ^setting/category/album/([0-9])page/([0-9])$ 			?cmd=SettingAlbum&IdCategory=$1&Page=$2 [L]
RewriteRule ^setting/category/album/([0-9])/ins/load$ 				?cmd=SettingAlbumInsLoad&IdCategory=$1 [L]
RewriteRule ^setting/category/album/([0-9])/ins/exe$ 				?cmd=SettingAlbumInsExe&IdCategory=$1 [L]
RewriteRule ^setting/category/album/([0-9])/([0-9])/upd/load$ 		?cmd=SettingAlbumUpdLoad&IdCategory=$1&IdAlbum=$2 [L]
RewriteRule ^setting/category/album/([0-9])/([0-9])/upd/exe$ 		?cmd=SettingAlbumUpdExe&IdCategory=$1&IdAlbum=$2 [L]
RewriteRule ^setting/category/album/([0-9])/([0-9])/del/load$ 		?cmd=SettingAlbumDelLoad&IdCategory=$1&IdAlbum=$2 [L]
RewriteRule ^setting/category/album/([0-9])/([0-9])/del/exe$ 		?cmd=SettingAlbumDelExe&IdCategory=$1&IdAlbum=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.CATEGORY.VIDEO
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/category/video$ 								?cmd=SettingCategoryVideo [L]
RewriteRule ^setting/category/video/page/([0-9])$ 					?cmd=SettingCategoryVideo&Page=$1 [L]

RewriteRule ^setting/category/video/ins/load$ 						?cmd=SettingCategoryVideoInsLoad [L]
RewriteRule ^setting/category/video/ins/exe$ 						?cmd=SettingCategoryVideoInsExe [L]
RewriteRule ^setting/category/video/([0-9])/upd/load$ 				?cmd=SettingCategoryVideoUpdLoad&IdCategory=$1 [L]
RewriteRule ^setting/category/video/([0-9])/upd/exe$ 				?cmd=SettingCategoryVideoUpdExe&IdCategory=$1 [L]
RewriteRule ^setting/category/video/([0-9])/del/load$ 				?cmd=SettingCategoryVideoDelLoad&IdCategory=$1 [L]
RewriteRule ^setting/category/video/([0-9])/del/exe$ 				?cmd=SettingCategoryVideoDelExe&IdCategory=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.VIDEO
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/category/video/([0-9])$ 						?cmd=SettingVideo&IdCategory=$1 [L]
RewriteRule ^setting/category/video/([0-9])page/([0-9])$ 			?cmd=SettingVideo&IdCategory=$1&Page=$2 [L]
RewriteRule ^setting/category/video/([0-9])/ins/load$ 				?cmd=SettingVideoInsLoad&IdCategory=$1 [L]
RewriteRule ^setting/category/video/([0-9])/ins/exe$ 				?cmd=SettingVideoInsExe&IdCategory=$1 [L]
RewriteRule ^setting/category/video/([0-9])/([0-9])/upd/load$ 		?cmd=SettingVideoUpdLoad&IdCategory=$1&IdVideo=$2 [L]
RewriteRule ^setting/category/video/([0-9])/([0-9])/upd/exe$ 		?cmd=SettingVideoUpdExe&IdCategory=$1&IdVideo=$2 [L]
RewriteRule ^setting/category/video/([0-9])/([0-9])/del/load$ 		?cmd=SettingVideoDelLoad&IdCategory=$1&IdVideo=$2 [L]
RewriteRule ^setting/category/video/([0-9])/([0-9])/del/exe$ 		?cmd=SettingVideoDelExe&IdCategory=$1&IdVideo=$2 [L]
