<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/Menu"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-warning-sign"></i></span>
								<h5>Xóa tin tức</h5>
							</div>
							<div class="widget-content">								
								<form class="form-actions" tal:attributes="action Category/getURLDelExe" method="post">
									<div class="alert alert-danger alert-block">
										<h4 class="alert-heading">Bạn có chắc chắn muốn xóa tin tức <b tal:content="Category/getName"/> hay không ?</h4>
										Tin tức khi bị xóa sẽ không thể phục hồi. Tuy nhiên bạn có thể tạo lại bằng cách trở về trang Quản lý Tin tức và click vào nút thêm Tin tức.
									</div>
									<button type="submit" class="btn" value="submit-value"><i class="icon-trash"/> Xóa</button>
									<a href="#" class="btn">Hủy bỏ</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>