<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>		
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/bootstrap/css/signin.css"/>
	</head>
	<body>
		<div metal:use-macro="base.xhtml/Header"/>
		<div id="box_login">
        <div class="container">
            <div class="span12 box_wrapper">
                <div class="span12 box">
                    <div>
                        <div class="head">
                            <h4>Đăng nhập Hệ thống</h4>
                        </div>
						<!--
                        <div class="social">
                            
							<a class="face_login" href="#">
                                <span class="face_icon">
                                    <img src="Measure%20Template%20-%20Create%20Account_files/i_face.png" alt="fb"/>
                                </span>
                                <span class="text">Sign in with Facebook</span>
                            </a>
                            <div class="division">
                                <hr class="left"/>
                                <span>or</span>
                                <hr class="right"/>
                            </div>
                        </div>
						-->
                        <div class="form">
                           <form class="form-action" tal:attributes="action '/signin/exe'" method="post">
                                <input type="text" id="Email" name="Email" placeholder="Tài khoản email" />
                                <input type="Password" id="Pass" name="Pass" placeholder="Mật khẩu"/>
                                <div class="remember">
                                    <div class="left">
                                        <input id="remember_me" type="checkbox"/>
                                        <label for="remember_me">Ghi nhớ đăng nhập</label>
                                    </div>
                                    <div class="right">
                                        <a href="#">Quên mật khẩu ?</a>
                                    </div>
                                </div>
                                <input class="btn" value="Đăng nhập" type="submit"/>
                            </form>
                        </div>
                    </div>
                </div>
                <p class="already">Chưa có tài khoản? Hãy <a href="#"> Đăng ký</a></p>
            </div>
        </div>
    </div>
	</body>
</html>