<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div id="container">
            <div id="logo">
                <img src="/mvc/templates/theme/cms/img/logo.png" alt="logo"/>
            </div>
            <div id="user">
                <div class="avatar">
                    <div class="inner"></div>
                    <img src="/mvc/templates/theme/cms/img/av1_1.jpg"/>
                </div>
                <div class="text">
                    <h4>Xin chào,<span class="user_name"></span></h4>
                </div>
            </div>
            <div id="loginbox">
				<form id="loginform" action="/signin/exe" method="post">
    				<p>Đăng nhập hệ thống quản trị</p>
                    <div class="input-group input-sm">
                        <span class="input-group-addon"><i class="icon-user"></i></span><input class="form-control" name="Email" id="username" placeholder="Email" type="text"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-lock"></i></span><input class="form-control" name="Pass" id="password" placeholder="Mật khẩu" type="password"/>
                    </div>
                    <div class="form-actions clearfix">
                        <div class="pull-left">
                            <a class="flip-link to-register blue">Tạo tài khoản mới</a>
                        </div>
                        <div class="pull-right">
                            <a class="flip-link to-recover grey">Quên mật khẩu?</a>
                        </div>
                        <input class="btn btn-block btn-primary btn-default" value="Đăng nhập" type="submit"/>
                    </div>
                    <div class="footer-login">
                        <div class="pull-left text">
                            Tài khoản khác
                        </div>
                        <div class="pull-right btn-social">
                            <a class="btn btn-facebook" href="#"><i class="icon-facebook"></i></a>
                            <a class="btn btn-twitter" href="#"><i class="icon-twitter"></i></a>
                            <a class="btn btn-google-plus" href="#"><i class="icon-google-plus"></i></a>
                        </div>
                    </div>

                </form>
                <form id="recoverform" action="#">
    				<p>Enter your e-mail address below and we will send you instructions how to recover a password.</p>
    				<div class="input-group">
                        <span class="input-group-addon"><i class="icon-envelope"></i></span><input class="form-control" placeholder="E-mail address" type="text"/>
                    </div>
                    <div class="form-actions clearfix">
                        <div class="pull-left">
                            <a class="grey flip-link to-login">Click to login</a>
                        </div>
                        <div class="pull-right">
                            <a class="blue flip-link to-register">Create new account</a>
                        </div>
                        <input class="btn btn-block btn-inverse" value="Recover" type="submit"/>
                    </div>
                </form>
                <form id="registerform" action="#">
                    <p>Enter information required to register:</p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-user"></i></span><input class="form-control" placeholder="Enter Username" type="text"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-lock"></i></span><input class="form-control" placeholder="Choose Password" type="password"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-lock"></i></span><input class="form-control" placeholder="Confirm password" type="password"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-envelope"></i></span><input class="form-control" placeholder="Enter E-mail address" type="text"/>
                    </div>
                    <div class="form-actions clearfix">
                        <div class="pull-left">
                            <a class="grey flip-link to-login">Click to login</a>
                        </div>
                        <div class="pull-right">
                            <a class="grey flip-link to-recover">Lost password?</a>
                        </div>
                        <input class="btn btn-block btn-success" value="Register" type="submit"/>
                    </div>
                </form>
            </div>
        </div>
		
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>