<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="menu">			
			<div id="sidebar">
				<ul style="display: block;">																				
					<li tal:repeat="Tracking1 TrackingAll" tal:attributes="class php:Tracking1->getId()==Tracking->getId()?'active':'disable'">
						<a tal:attributes="href Tracking1/getURLView">
							<i class="icon-book" /><span tal:content="Tracking1/getName"/>							
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>			
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-8">
						<a class="btn btn-block btn-primary" target="blank" tal:attributes="href Tracking/getURLCollectGeneral">(1) TỔNG HỢP THU</a>
					</div>
					<div class="col-xs-4">
						<a class="btn btn-block btn-primary" target="blank" tal:attributes="href Tracking/getURLCollectGeneralSave">LƯU KẾT QUẢ</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8"><a class="btn btn-block btn-primary" target="blank" tal:attributes="href Tracking/getURLPaidGeneral">(2) TỔNG HỢP CHI</a></div>
					<div class="col-xs-4"><a class="btn btn-block btn-primary" target="blank" tal:attributes="href Tracking/getURLPaidGeneralSave">LƯU KẾT QUẢ</a></div>
				</div>
				<div class="row">
					<div class="col-xs-8"><a class="btn btn-block btn-primary" tal:attributes="href Tracking/getURLStore">(3) TỔNG HỢP TỒN KHO</a></div>
					<div class="col-xs-4"><a class="btn btn-block btn-primary" tal:attributes="href Tracking/getURLStoreSave">LƯU KẾT QUẢ</a></div>
				</div>
				<div class="row">
					<div class="col-xs-8"><a class="btn btn-block btn-primary" target="blank" tal:attributes="href Tracking/getURLGeneral">(4) TỔNG HỢP</a></div>
					<div class="col-xs-4"></div>
				</div>				
				<div class="row">
					<div class="col-xs-8"><a class="btn btn-block btn-primary" tal:attributes="href Tracking/getURLCustomer">CHI TIẾT CÔNG NỢ CỦA KHÁCH HÀNG</a></div>
					<div class="col-xs-4"></div>
				</div>
				<div class="row">
					<div class="col-xs-8"><a class="btn btn-block btn-primary" target="blank" tal:attributes="href Tracking/getURLCourse">THỐNG KÊ CÁC MÓN</a></div>
					<div class="col-xs-4"></div>
				</div>
				<div class="row">
					<div class="col-xs-8"><a class="btn btn-block btn-primary" target="blank" tal:attributes="href Tracking/getURLResource">THỐNG KÊ NHẬP HÀNG</a></div>
					<div class="col-xs-4"></div>
				</div>
				<div class="row">
					<div class="col-xs-8"><a class="btn btn-block btn-primary" target="blank" tal:attributes="href Tracking/getURLHours">THỐNG KÊ GIỜ HÁT</a></div>
					<div class="col-xs-4"></div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>