<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div metal:use-macro="mAdmin.xhtml/MenuApp"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="container-fluid">				
				<div class="row">
					<div class="col-12">
						<div class="widget-box">							
							<div class="widget-content">
								<div class="row">
									<div class="col-12 col-sm-4">
										<ul class="site-stats">
											<li><div class="cc"><i class="glyphicons-tags"></i> <strong tal:content="CategoryAll/count"/> <small> danh mục</small></div></li>
											<li><div class="cc"><i class="glyphicons-drink"></i> <strong tal:content="CourseAll/count"/> <small> món</small></div></li>
											<li><div class="cc"><i class="glyphicons-show_big_thumbnails"></i> <strong tal:content="DomainAll/count"/> <small>Khu vực</small></div></li>
											<li><div class="cc"><i class="glyphicons-macbook"></i> <strong tal:content="TableAll/count" /> <small>Bàn</small></div></li>
											<li><div class="cc"><i class="glyphicons-group"></i> <strong tal:content="EmployeeAll/count" /> <small>Nhân viên</small></div></li>
										</ul>
									</div>
									<div class="col-12 col-sm-4">
										<ul class="site-stats">
											<li><div class="cc"><i class="glyphicons-user"></i> <strong tal:content="php:@\MVC\Library\Statistic::getOnlinePrint()"/> <small> trực tuyến</small></div></li>
											<li><div class="cc"><i class="glyphicons-parents"></i> <strong tal:content="php:@\MVC\Library\Statistic::getCountPrint()"/> <small>Lượt xem</small></div></li>
											<li><div class="cc"><i class="glyphicons-table"></i> <strong tal:content="SessionAll/count"/> <small>Phiếu</small></div></li>
										</ul>
									</div>	
									<div class="col-12 col-sm-4">
										<ul class="site-stats">
											<li><div class="cc"><i class="glyphicons-charts"></i> <strong tal:content="SessionLastAll/count"/> <small> đang có khách</small></div></li>
											<li><div class="cc"><i class="glyphicons-charts"></i> <strong tal:content="SessionNowAll/count"/> <small>phiếu hôm nay</small></div></li>
										</ul>
									</div>
								</div>							
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>

		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script src="/mvc/templates/theme/cms/js/excanvas.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/jquery.flot.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/jquery.flot.resize.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/jquery.sparkline.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/unicorn.dashboard.js"></script>
	</body>
</html>