<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul>				
				<li><a target="blank" tal:attributes="href Tracking/getURLSellingGeneral"><i class="glyphicons-print" /> TỔNG KẾT THÁNG</a></li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>												
										<th class="left"><i class="glyphicons-calendar"/></th>
										<th width="120">DOANH SỐ</th>
										<th width="120">THU</th>
										<th width="120">CHI</th>
									</tr>
								</thead>
								<tbody>											
									<tr tal:repeat="Day Tracking/getURLDayAll">
										<td><div tal:content="php:Day[0]"/></td>
										<td class="center"><a tal:attributes="href php:Day[1]" target="blank"><i class="glyphicons-print"/></a></td>
										<td class="center"><i class="glyphicons-print"/></td>
										<td class="center"><i class="glyphicons-print"/></td>
									</tr>											
								</tbody>
							</table>
						</div>
					</div>										
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>