<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body >
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul>
				<li tal:repeat="Domain DomainAll" class="Domain" tal:attributes="alt Domain/getId">
					<a>
						<i class="glyphicons-show_big_thumbnails" />
						<span tal:content="Domain/getName"/>
					</a>
				</li>				
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="row">
				<div class="col-4">
					<div id="TableAll"/>
					<div class="widget-box">
						<div class="controls">
							<input id="SearchName" type="text" placeholder="Nhập tìm món ăn" style="width:100%;"/>														
						</div>
					</div>
					<div id="CourseF"/>
				</div>
				<div class="col-5">
					<div id="Session"/>
				</div>
				<div class="col-3">
					<div class="accordion widget-box" id="collapse-group">						
						<div class="accordion-group widget-box">
							<div class="accordion-heading">
								<div class="widget-title">
									<a data-parent="#collapse-group" tal:attributes="href php:'#Top10'" data-toggle="collapse">
										<span class="icon"><i class="glyphicons-fast_food"></i></span><h5 tal:content="string:Top10"/>
									</a>
								</div>
							</div>							
							<div class="collapse in accordion-body" id="Top10">
								<div class="widget-content nopadding size-12">
									<ul class="activity-list">
										<li tal:repeat="T Top10">											
											<a class="course-item tip-left" tal:attributes="data-original-title php: T->getCourse()->getName() . ' ' . T->getCourse()->getPrice1Print()">
												<strong class="Course" tal:content="T/getCourse/getShortName" tal:attributes="alt T/getCourse/getId;data-delta 'plus' "/>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="accordion-group widget-box" tal:repeat="Category CategoryAll">
							<div class="accordion-heading">
								<div class="widget-title">
									<a data-parent="#collapse-group" tal:attributes="href php:'#'.Category->getIdString();" data-toggle="collapse">
										<span class="icon"><i class="glyphicons-fast_food"></i></span><h5 tal:content="Category/getName"/>
									</a>
								</div>
							</div>
							<div class="collapse accordion-body" tal:attributes="id Category/getIdString">
								<div class="widget-content nopadding size-12">
									<ul class="activity-list">
										<li tal:repeat="Course Category/getCourseAll">
											<a class="course-item tip-left" tal:attributes="data-original-title php: Course->getName() . ' ' . Course->getPrice1Print()">
												<strong class="Course" tal:content="Course/getShortName" tal:attributes="alt Course/getId;data-delta 'plus' "/>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>	
		</div>
		<div id="TableActive" />
		<div id="DomainActive" tal:attributes="alt Domain/getId"/>
			
			
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script>
						
			//NẠP DANH SÁCH CÁC BÀN			
			$('.Domain').click(function(){
				var IdDomain = $(this).attr('alt');
				$("#TableAll").load("/selling/load/domain/"+IdDomain);
				$(this).toggleClass('active').siblings().removeClass('active');
			});
			$('.Domain:first').click();
			
			
			//---------------------------------------------------------------------------
			//Xử lí search tên			
			$('#SearchName').keyup(function(e){
				var Name 		= $(this).val();										
				$("#CourseF").load("/selling/search/course", { Name: Name });
			});
			
			//-----------------------------------------------------------------------------------
			//CALL COURSE
			$(".RemoveCourseSearch").click(function(){
				$("#CourseF").html("");
			});
						
        </script>
	</body>
</html>