<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-table"/></span>
								<h5 tal:content="Title"/> 
							</div>
							<div class="widget-content nopadding">
								<div role="grid" class="dataTables_wrapper">									
									<table class="table table-bordered table-striped table-hover data-table">
										<thead>
											<tr role="row">
												<th width="35">STT</th>
												<th><div class="text-left">NHÀ CUNG CẤP</div></th>
												<th><div class="text-left">TÊN HÀNG</div></th>
												<th width="120"><div class="text-right">TỈ LỆ NHẬP</div></th>
												<th width="80"><div class="text-left">ĐƠN VỊ</div></th>
												<th width="120"><div class="text-right">TỈ LỆ BÁN</div></th>
												<th width="80"><div class="text-left">ĐƠN VỊ</div></th>
												<th width="32"><i class="icon-trash my-ico"/></th>
											</tr>
										</thead>
										<tbody role="alert" aria-live="polite" aria-relevant="all">
											<tr tal:repeat="Recipe Course/getRecipeAll" class="gradeA odd">
												<td align="center" tal:content="repeat/Recipe/number"/>
												<td>
													<a tal:attributes="href Recipe/getURLUpdLoad">
														<span tal:content="Recipe/getResource/getSupplier/getName"/>
													</a>
												</td>
												<td><span tal:content="Recipe/getResource/getName"/></td>
												<td><div class="text-right" tal:content="Recipe/getValue1"/></td>
												<td><div class="text-left" tal:content="Recipe/getResource/getUnit"/></td>
												<td><div class="text-right" tal:content="Recipe/getValue2"/></td>
												<td><div class="text-left" tal:content="Recipe/getCourse/getUnit"/></td>
												<td align="center"><a tal:attributes="href Recipe/getURLDelLoad"><i class="icon-remove"/></a></td>
											</tr>
										</tbody>
									</table>
									<div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
										<div class="dataTables_filter">
											<label style="margin-top:5px;">
												<a tal:attributes="href Course/getURLRecipeInsLoad"><span class="icon-plus"/> Thêm mới</a>
											</label>
										</div>										
									</div>									
									<!--	
									<li data-role="list-divider" tal:content="Title" />					
									<li tal:repeat="">
										<a data-ajax="false" tal:attributes="href Recipe/getURLUpdLoad">
											<span tal:content="Recipe/getResource/getName"/>
											<p class="ui-li-aside"><strong tal:content="Recipe/getValue1"/> - <strong tal:content="Recipe/getValue2"/></p>
										</a>
										<a tal:attributes="href Recipe/getURLDelLoad" data-theme="c" data-icon="delete"/>
									</li>
									<li>
										<a data-ajax="false" tal:attributes="" data-theme="c">Thêm mới ...</a>
										<a data-ajax="false" tal:attributes="href Course/getURLRecipeInsLoad" data-theme="c" data-icon="plus"/>
									</li>
									!-->
									
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>